<v-container>
  <v-snackbar v-model="snackbar" :timeout="5000" top color="error">
    <span>This track Id: {{ trackId }}, is invalid </span>
    <v-btn dark color="white" class="black--text" @click="snackbar = false">
      Close
    </v-btn>
  </v-snackbar>

  <v-row v-if="!snackbar" dense>
    <v-col cols="12">
      <track-detail
        v-if="track.trackName"
        :track="track"
        @add-favorite="addFavorite"
        @remove-favorite="removeFavorite"
      />
      <router-link
        :to="{ name: 'dashboard' }"
        class="white--text"
        color="grey"
        text
        v-else
      >
        Return home
      </router-link>
    </v-col>
  </v-row>
</v-container>
