<v-navigation-drawer
  :mini-variant.sync="mini"
  app
  clipped
  permanent
  v-model="drawer"
>
  <v-list-item class="px-2">
    <v-btn icon @click.stop="mini = !mini">
      <v-icon v-if="mini">mdi-chevron-right</v-icon>
      <v-icon v-else>mdi-chevron-left</v-icon>
    </v-btn>
  </v-list-item>
  <v-divider />
  <v-list dense>
    <v-list-item v-for="link in links" :key="link.path" :to="link.path">
      <v-list-item-action>
        <v-icon>mdi-{{ link.icon }}</v-icon>
      </v-list-item-action>
      <v-list-item-content>
        <v-list-item-title>{{ link.name }}</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </v-list>
</v-navigation-drawer>
