.link {
  text-decoration: none;
  user-select: none;
}

.logo,
.title {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  height: 30px;
  margin-right: 15px;
}

.search {
  margin-right: 15px;
}
